.section {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 6rem repeat(6, 1fr) 6rem;

    &__container {
        grid-column: 2 / span 4;
        grid-row: 2 / span 6;
        background-image: linear-gradient(to left, rgba($color-primary-light, 1), rgba($color-primary-dark, 1));
        border-radius: 1rem;
        min-height: 100vh;
        box-shadow: $bs-large;
        padding: 3rem 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / span 6;
            grid-row: 1 / span 8;
        }

        // 1ST HALF
        &__2__help {
            background-color: $color-white;
            border-radius: 1rem;
            margin-bottom: 3rem;
            padding: 1.5rem;
            max-width: 38.1rem;    
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__3__sub {
            display: flex;
            flex-direction: column;
            color: $color-black;

            &--row {
                flex-direction: row;
                align-items: center;
                margin: 1.5rem;
                transition: all .3s;
                color: $color-primary-light;

                &:hover {
                    cursor: pointer;
                    color: $color-black;
                    transform: scale(1.02);
                }
            }
        }

        &__4__icon {
            font-size: $font-size-large;
            color: inherit;
        }

        &__4__header-btn {
            color: inherit;
        }

        &__4__text {
            font-size: $font-size-medium;
            color: inherit;
            font-weight: 400;
        }

        // 2ND HALF
        &__2__options {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem;
        }

        &__3__option {
            background-color: $color-white;
            color: $color-black;
            padding: 1.5rem;
            border-radius: 1rem;
            box-shadow: $bs-small;
        }

        &__3__active {
            transition: all .3s;

            & > * {
                color: $color-primary-light;
                transition: inherit;

                &:hover {
                    color: $color-black;
                }
            }

            &:active {
                transform: scale(.96);
            }
        }

        &__3__inactive {
            background-image: linear-gradient(to left, rgba($color-primary-light, 1), rgba($color-primary-super-light, 1))
        }
    }
}